<div class="field">
    <label for="password_confirm">{{ confirm_label | default(value="Repetir contraseña") }}</label>
    <div class="password-wrapper">
        <input type="text" id="password_confirm" name="password_confirm" {% if confirm_required | default(value=true)
            %}required{% endif %} autocomplete="off"
            onfocus="if (this.type==='text') { this.type='password'; this.setAttribute('autocomplete', 'new-password'); }"
            oninput="if (this.type==='text') { this.type='password'; this.setAttribute('autocomplete', 'new-password'); }">
    </div>
</div>